
#创建数据库
# CREATE DATABASE [IF NOT EXISTS] database_name
#   [CHARACTER SET charset_name]
#   [COLLATE collation_name];

#删除数据库
# DROP DATABASE <database_name>;        -- 直接删除数据库，不检查是否存在
# 或
# DROP DATABASE [IF EXISTS] <database_name>;

#连接数据库
# mysql -h localhost -P 3306 -u root -pzst654321  #两个P为大写
# SHOW DATABASES;
# USE dbName;# 选择数据库
# SHOW TABLES;
#  EXIT;/QUIT;


# 创建数据表
# CREATE TABLE table_name (
#  id INT AUTO_INCREMENT PRIMARY KEY,#AUTO_INCREMENT 关键字用于创建一个自增长的列，一般用于主键，数值会自动加 1。PRIMARY KEY 用于定义主键。
#     column1 datatype,
#     column2 datatype,
#     ...
# )CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;#创建一个使用 utf8mb4 字符集和 utf8mb4_general_ci 排序规则的表;

# 删除表
# DROP TABLE table_name;     -- 直接删除表，不检查是否存在
# 或

# DROP TABLE [IF EXISTS] table_name;  -- 会检查是否存在，如果存在则删除

#TRUNCATE TABLE table_name;#只是想删除表中的所有数据，但保留表的结构

# 修改数据表名或者修改数据表字段

# ALTER TABLE old_table_name            修改表名
# RENAME TO new_table_name;

# ALTER TABLE table_name                添加列
# ADD COLUMN new_column_name datatype;

# ALTER TABLE table_name                添加 PRIMARY KEY
# ADD PRIMARY KEY (column_name);


# ALTER TABLE child_table               添加 FOREIGN KEY
# ADD CONSTRAINT fk_name
# FOREIGN KEY (column_name)
# REFERENCES parent_table (column_name);


# ALTER TABLE TABLE_NAME                修改列的数据类型
# MODIFY COLUMN column_name new_datatype;

# ALTER TABLE table_name                修改列名
# CHANGE COLUMN old_column_name new_column_name datatype;

# ALTER TABLE table_name                删除列
# DROP COLUMN column_name;


# #增删改查
# INSERT INTO table_name (column1, column2, column3, ...)
# VALUES (value1, value2, value3, ...);


# DELETE FROM table_name WHERE condition;

# UPDATE table_name SET column1 = value1, column2 = value2, ...
# WHERE condition;


# SELECT column1, column2, ...FROM table_name  name  WHERE name LIKE '%_java[^asdasf]'
# REGEXP BINARY 'Smith|^item{n,m}[0-9]+.\w\s$;  使用 BINARY 关键字，使得匹配区分大小写：
# REGEXP 'mar';包含 'mar' 字符
# REGEXP  '(z|f)ood' 则匹配 "zood" 或 "food"。
# [WHERE condition]  
# group by…… having……（select）…… order by……limit
#RLIKE 是 MySQL 中用于进行正则表达式匹配的运算符，与 REGEXP 是一样的，RLIKE 和 REGEXP 可以互换使用，没有区别。

# GROUP BY column1;
# ORDER BY column1 [ASC | DESC], column2 [ASC | DESC], ...;
# SELECT salesperson, SUM(amount) AS total_sales, COUNT(*) AS order_count
# FROM sales
# GROUP BY salesperson
# HAVING SUM(amount) > 200 AND COUNT(*) >= 2;  where的分组聚合专用版

# UNION
# INNER JOIN table2 ON table1.column_name = table2.column_name;

# mysql.toml
[database]
host = "localhost"
user = "root"
password = "zst654321"
db = "mysql"
port = 3306
charset = "utf8"
autocommit = true

[query]

drop_table = """DROP TABLE IF EXISTS baidu_images"""

create_table = """
CREATE TABLE IF NOT EXISTS baidu_images (
    id INT AUTO_INCREMENT PRIMARY KEY,#重置自增起始值
    # id INT PRIMARY KEY,
    image_name VARCHAR(255) NOT NULL,
    image_url TEXT,
    keyword VARCHAR(100),
    download_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    local_path VARCHAR(500) DEFAULT '',
    UNIQUE KEY unique_image (image_name)
)
"""

insert_image = """
INSERT INTO baidu_images (image_name, image_url, keyword, local_path) 
VALUES (%s, %s, %s, %s)
#当插入数据时，如果发生重复键错误（即已经存在相同的主键或唯一索引的值），那么就会执行更新操作，将当前行的
# ON DUPLICATE KEY UPDATE 
#     image_url = VALUES(image_url),
#     keyword = VALUES(keyword),
#     local_path = VALUES(local_path),
#     download_time = CURRENT_TIMESTAMP
"""

delete_all = "DELETE FROM baidu_images"

select_all = "SELECT * FROM baidu_images"
